{
  "openapi": "3.0.0",
  "info": {
    "title": "API - DATA EXPORT - V1",
    "version": "1",
    "description": "API for exporting data from Northbeam",
    "termsOfService": "https://www.northbeam.io/terms"
  },
  "servers": [
    {
      "url": "https://api.northbeam.io/v1/exports"
    }
  ],
  "security": [
    {
      "api_key": [],
      "client_id": []
    }
  ],
  "paths": {
    "/attribution-models": {
      "get": {
        "summary": "Fetch all available attribution models",
        "responses": {
          "200": {
            "description": "Attribution models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributionModels"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/breakdowns": {
      "get": {
        "summary": "Fetch all labels available for breakdown",
        "responses": {
          "200": {
            "description": "Breakdown labels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Breakdowns"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/data-export/result/{export_id}": {
      "get": {
        "summary": "Fetch a data export result",
        "parameters": [
          {
            "in": "path",
            "name": "export_id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Data export result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExportResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "summary": "Fetch all available metrics",
        "responses": {
          "200": {
            "description": "Metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/data-export": {
      "post": {
        "summary": "Create a data export config",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataExport"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Data Export created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid Body Params"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/data-export/orders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create an Orders export (orders + product information)",
        "description": "Trigger a one-off Orders export to your own GCS or S3 bucket. The export contains one row per order. By default it uses the default order columns (which include the customer type, first-time vs. returning); if you pass an explicit `columns` list you get exactly those columns. Product ids/SKUs, order tags, and the order source name are available as optional columns. Poll the returned `id` with `GET /data-export/result/{export_id}`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrdersExport"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Orders export created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid Body Params"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "client_id": {
        "type": "apiKey",
        "name": "Data-Client-ID",
        "in": "header"
      }
    },
    "schemas": {
      "AttributionModels": {
        "type": "object",
        "properties": {
          "attribution_models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "Breakdowns": {
        "type": "object",
        "properties": {
          "breakdowns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "DataExportResult": {
        "type": "object",
        "properties": {
          "data_export_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "SUCCESS",
              "ERROR"
            ]
          },
          "result": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "warn": {
            "description": "Warning info regarding deprecated params, actions expected, etc.",
            "type": "object"
          }
        }
      },
      "Metrics": {
        "type": "object",
        "properties": {
          "metrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "Export_Request_Base": {
        "type": "object",
        "properties": {
          "level": {
            "description": "Level of metrics to export.",
            "type": "string",
            "enum": [
              "platform",
              "campaign",
              "adset",
              "ad"
            ],
            "default": "platform"
          },
          "time_granularity": {
            "description": "Data time granularity.",
            "type": "string",
            "enum": [
              "MONTHLY",
              "WEEKLY",
              "DAILY",
              "HOURLY"
            ],
            "default": "DAILY"
          },
          "period_type": {
            "description": "Time period to be exported. It can be either a relative window or a fixed window. If you choose to export a fixed window, the `period_options` property must be set.",
            "type": "string",
            "enum": [
              "FIXED",
              "TODAY",
              "YESTERDAY",
              "YESTERDAY_AND_TODAY",
              "LAST_3_DAYS",
              "LAST_7_DAYS",
              "LAST_14_DAYS",
              "LAST_28_DAYS",
              "LAST_30_DAYS",
              "LAST_60_DAYS",
              "LAST_90_DAYS",
              "LAST_180_DAYS",
              "MONTH_TO_DATE",
              "LAST_MONTH",
              "THIS_WEEK",
              "LAST_WEEK",
              "THIS_WEEK_AND_LAST_WEEK",
              "LAST_3_WEEKS",
              "LAST_4_WEEKS",
              "LAST_7_WEEKS",
              "LAST_12_WEEKS",
              "LAST_14_WEEKS",
              "LAST_26_WEEKS",
              "LAST_28_WEEKS",
              "LAST_52_WEEKS",
              "THIS_MONTH",
              "THIS_MONTH_AND_LAST_MONTH",
              "LAST_3_MONTHS",
              "LAST_6_MONTHS",
              "LAST_9_MONTHS",
              "LAST_12_MONTHS",
              "YEAR_TO_DATE",
              "LAST_YEAR",
              "LAST_3_YEARS",
              "LAST_5_YEARS"
            ],
            "default": "LAST_7_DAYS"
          },
          "period_options": {
            "description": "Time frame to be exported if `period_type` is set to \"FIXED\". The time period cannot be greater than 2 years.",
            "type": "object",
            "properties": {
              "period_starting_at": {
                "type": "string",
                "format": "date-time"
              },
              "period_ending_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "breakdowns": {
            "description": "Labels used to breakdown the data. If you are unsure which breakdowns to use, you can fetch them using the `/breakdowns` endpoint.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "options": {
            "type": "object",
            "properties": {
              "export_aggregation": {
                "description": "Aggregation type.",
                "type": "string",
                "enum": [
                  "BREAKDOWN",
                  "DATE"
                ],
                "default": "BREAKDOWN"
              },
              "remove_zero_spend": {
                "description": "Remove rows with zero spend.",
                "type": "boolean",
                "default": false
              },
              "aggregate_data": {
                "description": "Aggregate data, ignoring campaign, adset and ad levels.",
                "type": "boolean",
                "default": false
              },
              "include_ids": {
                "description": "Include campaign, adset and ad ids in exported data.",
                "type": "boolean",
                "default": false
              },
              "include_kind_and_platform": {
                "description": "Include campaign, adset and ad kind and platform in exported data.",
                "type": "boolean",
                "default": false
              }
            }
          },
          "attribution_options": {
            "type": "object",
            "properties": {
              "attribution_models": {
                "description": "Attribution models to use. Check in `/attribution-models` for available models.",
                "type": "array",
                "minimum": 1,
                "items": {
                  "type": "string"
                }
              },
              "attribution_windows": {
                "type": "array",
                "minimum": 1,
                "items": {
                  "type": "string",
                  "enum": [
                    "1",
                    "3",
                    "7",
                    "14",
                    "30",
                    "60",
                    "90"
                  ]
                }
              },
              "accounting_modes": {
                "type": "array",
                "minimum": 1,
                "items": {
                  "type": "string",
                  "enum": [
                    "cash",
                    "accrual"
                  ]
                }
              }
            }
          },
          "metrics": {
            "description": "Metrics to export. Check in `/metrics` for available metrics.",
            "type": "array",
            "minimum": 1,
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "Metric ID",
                  "type": "string"
                },
                "label": {
                  "description": "Metric label to be used as file header. If not provided, a default label will be used.",
                  "type": "string",
                  "pattern": "^[a-zA-Z][a-zA-Z0-9\\_]+[a-zA-Z0-9]$"
                }
              },
              "required": [
                "id"
              ]
            }
          }
        },
        "required": [
          "attribution_options",
          "metrics"
        ]
      },
      "Export_To_Northbeam_Documents": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "export_file_name": {
                "description": "Name of the exported file, if not provided, default one will be used.",
                "type": "string",
                "minLength": 3,
                "pattern": "^[A-Za-z0-9_-]+$"
              }
            }
          },
          {
            "$ref": "#/components/schemas/Export_Request_Base"
          }
        ]
      },
      "Export_To_GCS_Bucket": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "bucket_name"
            ],
            "properties": {
              "bucket_name": {
                "description": "Name of the external bucket where to export your file.",
                "type": "string"
              },
              "export_file_name": {
                "description": "Name of the exported file, if not provided, default one will be used. Can include subdirectory paths (e.g., `folder/subfolder/file`).",
                "type": "string",
                "minLength": 3,
                "pattern": "^(?!/)(?!.*//)[A-Za-z0-9_/-]+(?<!/)$"
              }
            }
          },
          {
            "$ref": "#/components/schemas/Export_Request_Base"
          }
        ]
      },
      "Export_To_S3_Bucket": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "aws_role",
              "region"
            ],
            "properties": {
              "aws_role": {
                "description": "AWS role ARN with access to the S3 bucket.",
                "type": "string"
              },
              "region": {
                "description": "Region of the S3 bucket.",
                "type": "string"
              },
              "export_file_name": {
                "description": "Name of the exported file, if not provided, default one will be used. Can include subdirectory paths (e.g., `folder/subfolder/file`).",
                "type": "string",
                "minLength": 3,
                "pattern": "^(?!/)(?!.*//)[A-Za-z0-9_/-]+(?<!/)$"
              }
            }
          },
          {
            "$ref": "#/components/schemas/Export_Request_Base"
          }
        ]
      },
      "CreateDataExport": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Export_To_Northbeam_Documents"
          },
          {
            "$ref": "#/components/schemas/Export_To_GCS_Bucket"
          },
          {
            "$ref": "#/components/schemas/Export_To_S3_Bucket"
          }
        ]
      },
      "CreateOrdersExport": {
        "type": "object",
        "additionalProperties": false,
        "description": "Request to trigger a one-off Orders export (orders plus product information) to your own storage bucket. For an S3 destination provide both `aws_role` and `region`; omit them for a GCS destination.",
        "required": [
          "bucket_name",
          "start_date",
          "end_date"
        ],
        "properties": {
          "bucket_name": {
            "description": "Name of the external GCS or S3 bucket to export to.",
            "type": "string"
          },
          "aws_role": {
            "description": "AWS role ARN with access to the S3 bucket (required for S3 exports).",
            "type": "string",
            "nullable": true
          },
          "region": {
            "description": "AWS region of the S3 bucket (required for S3 exports).",
            "type": "string",
            "nullable": true
          },
          "export_file_name": {
            "description": "Name of the exported file. A default name is used if omitted.",
            "type": "string",
            "minLength": 3,
            "pattern": "^(?!/)(?!.*//)[A-Za-z0-9_/-]+(?<!/)$"
          },
          "start_date": {
            "description": "Start of the export window (inclusive).",
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "description": "End of the export window (exclusive).",
            "type": "string",
            "format": "date-time"
          },
          "columns": {
            "description": "Optional list of column ids to include, in order. When omitted, the default columns are used. When provided, it must be a non-empty list of distinct ids, and you get exactly the columns you list \u2014 any subset of the allowed ids is valid and nothing is mandatory (`customer_type` is a default column, so include it here if you want it). `products` is a single column of comma-separated SKUs, falling back to the product id when a SKU is missing.",
            "type": "array",
            "minItems": 1,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "order_id",
                "order_number",
                "order_ts",
                "platform",
                "order_revenue_total",
                "refund_amount_in_dollars",
                "attributed",
                "customer_type",
                "customer_first_name_sha256",
                "customer_email_sha256",
                "customer_phone_sha256",
                "customer_city_sha256",
                "customer_country_code_sha256",
                "customer_province_code_sha256",
                "customer_zip_sha256",
                "ip_address",
                "products",
                "order_tags",
                "source_name"
              ]
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Orders",
      "description": "Export your orders (one row per order) with product information to your own GCS or S3 bucket."
    }
  ]
}